<h1>Name: <%= @employee.first_name + " " + @employee.last_name %></h1>
<h3>Alias: <%= @employee.alias %></h3>
<h3>Title: <%= @employee.title %></h3>
<h3>Office: <%= @employee.office %></h3>
<h3>Dog: <%= @dog.name %></h3>
<%= image_tag @employee.img_url %>